<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bantuan</title>
    <link rel="icon" href="/views/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    {{> header}} <!-- Memanggil header -->

    <div class="main-content">
        <div class="help-section">
            <h1>Bantuan</h1>
            <p>Jika Anda memiliki pertanyaan atau butuh bantuan lebih lanjut mengenai aplikasi ini, silakan ikuti langkah-langkah berikut:</p>
            <ul>
                <li>Pastikan Anda terhubung ke internet.</li>
                <li>Masukkan lokasi yang ingin Anda cek cuacanya.</li>
                <li>Tekan tombol 'Cek Cuaca' untuk mendapatkan informasi terkini.</li>
            </ul>
            <p>Jika Anda masih mengalami masalah, Anda dapat menghubungi kami melalui email di <a href="mailto:giesrubby@email.com">giesrubby@email.com</a>.</p>
        </div>
    </div>

    {{> footer}} <!-- Memanggil footer -->
</body>
</html>
