<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    {{> header}} <!-- Memanggil header -->
    
    <div class="main-content">
        <div class="column">
            <p>HALLO!</p>
        </div>
    </div>

    {{> footer}} <!-- Memanggil footer -->
</body>
</html>
